
<section>
	<div class="heading">
		<div class="content">
			<h1>Zeal vision</h1>
			<p>read more</p>
		</div>
	</div>
</section>

	<section class="tag">
		<div class="container">	
			<div class="tagging">
				<div class="wrapper">
					<ul class="list-inline">
						<li>Rails</li>
						<li>Ruby</li>
						<li>Python</li>
						<li>C++</li>
						<li>C#</li>
						<li>PHP</li>
						<li>Node.js</li>
						<li>GO</li>
						<li>JAVA</li>
						<li>Hadoop</li>
					</ul>		
				</div>
			</div>
		</div>	
	</section>

<section class="company">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag "http://placehold.it/360x200" %>
					<div class="content">
						<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quo incidunt, obcaecati quod ducimus! Velit tempora hic debitis, culpa iusto placeat explicabo ipsam laboriosam. Dicta officiis, laboriosam ut animi unde.
						</p>
					</div>	
				</div>
				<div class="col-md-4">
				<%= image_tag "http://placehold.it/360x200" %>
					<div class="content">
						<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quo incidunt, obcaecati quod ducimus! Velit tempora hic debitis, culpa iusto placeat explicabo ipsam laboriosam. Dicta officiis, laboriosam ut animi unde.
						</p>
					</div>	
				</div>
				<div class="col-md-4">
				<%= image_tag "http://placehold.it/360x200" %>
					<div class="content">
						<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quo incidunt, obcaecati quod ducimus! Velit tempora hic debitis, culpa iusto placeat explicabo ipsam laboriosam. Dicta officiis, laboriosam ut animi unde.
						</p>
					</div>	
				</div>
			</div>				
		</div>	
	</div>
</section>

<div class="clearfix"></div>	


