
        <div class="divide80"></div>
        <div class="container blog-left-img">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="sidebar-box margin40">
                        <h4>Search</h4>
                        <form role="form" class="search-widget">
                            <input type="text" class="form-control">
                            <i class="fa fa-search"></i>
                        </form>
                    </div><!--sidebar-box-->
                    <div class="sidebar-box margin40">
                        <h4>Categories</h4>
                        <ul class="list-unstyled cat-list">
                            <li> <a href="#">前端工程</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">後端工程</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">專案管理</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">行動開發</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">設計</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">行銷</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">業務</a> <i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--sidebar-box-->
                    <div class="sidebar-box margin40">
                        <h4>Tag Cloud</h4>
                        <div class="tag-list">
                            <a href="#">Java</a>
                            <a href="#">Rails</a>
                            <a href="#">PHP</a>
                            <a href="#">Python</a>
                            <a href="#">AJAX</a>
                            <a href="#">javascript</a>
                            <a href="#">SQL</a>
                            <a href="#">UI Designer</a>
                            <a href="#">AWS</a>
                            
                        </div>
                    </div>
                </div><!--sidebar-col-->
                <div class="col-md-8">
                    <div class="blog-post">

                        <div class="row">
                            <div class="col-md-6 margin20">
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "company/Trollback_Company_office.JPG", :class=> "img-responsive", :alt => "Company View"  %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link--> 
                            </div>
                            <div class="col-md-6 margin20">
                                <ul class="list-inline post-detail">
                                    <li><i class="fa fa-calendar"></i> 26st july 2016</li>
                                    <li><i class="fa fa-tag"></i> <a href="#">線上音樂產業</a></li>
                                </ul>
                                <h2><a href="#">XOBKK</a></h2>
                                <p>
                                    XOBKK 是由一群熱愛技術及音樂的工程師於 2004 年創立的品牌，以獨創的雲端技術提供音樂串流服務，讓使用者透過網路即可播放儲存在雲端的歌曲；服務地區包括台灣、香港、日本、新加坡、馬來西亞及泰國。XOBKK 的服務在電腦、智慧型手機或其他行動裝置上都能使用，不只能線上聽音樂，還能下載到電腦或手機中離線收聽，給消費者一個方便自由、沒有界限的音樂世界！
                                </p>
                                <p><a href="blog-single.html" class="btn btn-theme-dark">Read More...</a></p>
                            </div>
                        </div>
                    </div><!--blog post-->
                       <div class="blog-post">

                        <div class="row">
                            <div class="col-md-6 margin20">
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "company/milennial-work-space.jpg", :class=> "img-responsive", :alt => "Company View"  %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link--> 
                            </div>
                            <div class="col-md-6 margin20">
                                <ul class="list-inline post-detail">
                                    <li><i class="fa fa-calendar"></i> 17st june 2016</li>
                                    <li><i class="fa fa-tag"></i> <a href="#">行動數據科技業</a></li>
                                </ul>
                                <h2><a href="#">朋威 nopV</a></h2>
                                <p>
                                    朋威 nopV 以大數據分析技術為基礎，為客戶精準投放行動廣告給目標受眾，每月於全亞洲觸及6億台不重複智慧型行動裝置，每日可競價流量高達120億。朋威 nopV 是唯一一家在兩岸三地及日本成功營運，且在台灣行動行銷領域市佔率第一名的專業公司。團隊核心成員來自 IBM、Google、Yahoo、聯發科、台積電及知名4A廣告公司等，具有領先的技術和資深廣告行業背景，超過4年行動廣告營運經驗，提供最優質的行動行銷服務。
                                </p>
                                <p><a href="blog-single.html" class="btn btn-theme-dark">Read More...</a></p>
                            </div>
                        </div>
                    </div><!--blog post-->
                      <div class="blog-post">

                        <div class="row">
                            <div class="col-md-6 margin20">
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "company/3039596-poster-p-1-most-innovative-companies-2015-general-assembly.jpg", :class=> "img-responsive", :alt => "Company View"  %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link--> 
                            </div>
                            <div class="col-md-6 margin20">
                                <ul class="list-inline post-detail">
                                    <li><i class="fa fa-calendar"></i> 11st May 2016</li>
                                    <li><i class="fa fa-tag"></i> <a href="#">資訊培訓及顧問產業</a></li>
                                </ul>
                                <h2><a href="#">100倍綠寶石</a></h2>
                                <p>
                                    100倍綠寶石是由幾位台灣綠寶石社群的朋友共同成立的一家公司，希望透過教育訓練、企業培訓等講座，將綠寶石 推廣到校園、企業、開發者。提供的服務包括：程式教育訓練、企業技術培訓與諮詢、活動場地租借與專案委托製作。100倍綠寶石的每位成員、講師，均在業界有多年實戰工作經驗，在台灣的 綠寶石程式社群亦是相當活躍的成員。從系統規劃到開發，我們都可以提供您專業的建議與諮詢。
                                </p>
                                <p><a href="blog-single.html" class="btn btn-theme-dark">Read More...</a></p>
                            </div>
                        </div>
                    </div><!--blog post-->
                      <div class="blog-post">

                        <div class="row">
                            <div class="col-md-6 margin20">
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "company/working-area.jpg", :class=> "img-responsive", :alt => "Company View"  %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link--> 
                            </div>
                            <div class="col-md-6 margin20">
                                <ul class="list-inline post-detail">
                                    <li><i class="fa fa-calendar"></i> 09st july 2016</li>
                                    <li><i class="fa fa-tag"></i> <a href="#">電腦軟體服務業</a></li>
                                </ul>
                                <h2><a href="#">拉卡愛互動媒體</a></h2>
                                <p>
                                    拉卡愛為全台最大直播平台，團隊長年投入串流技術及大型雲端平台研發，擁有堅強的技術及產品設計能力，現與 Google 攜手合作進行全球雲端業務拓展、及次世代串流平台研發。拉卡愛於 2014 年上線，為台灣本土第一個線上直播平台，2 年之內平台人數迅速成長，旋即成為台港澳最大的網路直播平台，不僅靠著堅強的技術力提供使用者全新直播體驗，更引領台灣網路直播的風潮：「想到直播，就想到拉卡愛。」
                                </p>
                                <p><a href="blog-single.html" class="btn btn-theme-dark">Read More...</a></p>
                            </div>
                        </div>
                    </div><!--blog post-->
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Previous Page</a></li>
                        <li class="next"><a href="#">Next Page &rarr;</a></li>
                    </ul><!--pager-->
                </div><!--col-->
            </div><!--row for blog post-->
        </div><!--blog full main container-->
        <div class="divide60"></div>
                <footer id="footer">
            <div class="container">

                <div class="row">
                    <div class="col-md-4 col-sm-6 margin30">
                        <div class="footer-col">
                            <h3>關於 ZEAL</h3>
                            <p>
                                HR : 世界上最遙遠的距離，是我找到了你，而你拒絕了我 ; <br>身為最有溫度的求職媒體，ZEAL 為你拉近公司與求職者距離

                            </p>
                            <ul class="list-inline footer-social">
                                <li>
                                    <a href="#" class="social-icon si-dark si-gray-round si-colored-facebook">
                                        <i class="fa fa-facebook"></i>
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon si-dark si-gray-round si-colored-linkedin">
                                        <i class="fa fa-linkedin"></i>
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>                        
                    </div><!--footer col-->
                    <div class="col-md-4 col-sm-6 margin30">
                        <div class="footer-col">
                            <h3>聯絡我們</h3>

                            <ul class="list-unstyled contact">
                                <li><p><strong><i class="fa fa-map-marker"></i> 地址:</strong> 104台北市中山區南京東路二段 97 號 5 樓</p></li> 
                                <li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">zealor.tw@gmail.com</a></p></li>
                                <li> <p><strong><i class="fa fa-phone"></i> Phone:</strong> 02 25419799</p></li>

                            </ul>
                        </div>                        
                    </div><!--footer col-->
                    <div class="col-md-4 col-sm-6 margin30">
                        <div class="footer-col">
                            <h3>訂閱 ZEAL 電子報</h3>
                            <p>
                                想知道台灣有哪些好公司嗎？馬上訂閱 ZEAL 電子報，您將會收到我們推薦的優質公司及職缺訊息！
                            </p>
                            <form role="form" class="subscribe-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter email to subscribe">
                                    <span class="input-group-btn">
                                        <button class="btn  btn-theme-dark btn-lg" type="submit">Ok</button>
                                    </span>
                                </div>
                            </form>
                        </div>                        
                    </div><!--footer col-->

                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer-btm">
                            <span>&copy;2016. Maintained by Zeal</span>
                        </div>
                    </div>
                </div>
            </div>
        