    <div id="hoeapp-container" hoe-color-type="lpanel-bg7" hoe-lpanel-effect="shrink">
        <aside id="hoe-left-panel" hoe-position-type="absolute">

            <ul class="nav panel-list">

                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                        <span class="menu-text">統計資料</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="fa fa-user"></i>
                        <span class="menu-text">應徵者資料</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="user-profile.html">
                        <i class="fa fa-circle-o"></i>
                        <span class="menu-text">應徵者</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="active">
                    <a href="user-profile.html">
                        <i class="fa fa-dot-circle-o"></i>
                        <span class="menu-text">面試中</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="user-profile.html">
                        <i class="fa fa-check-square"></i>
                        <span class="menu-text">已錄取</span>
                        <span class="selected"></span>
                    </a>
                </li>


            </ul>
        </aside><!--aside left menu end-->


        <!--start main content-->
        <section id="main-content">
            <div class="space-30"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div>
                                            <!-- Nav tabs -->
                                            <ul class="list-inline tabs-bordered margin-b-20" role="tablist">
                                                <li role="presentation" class="active"><a href="#frnd" aria-controls="frnd" role="tab" data-toggle="tab"><i class="fa fa-user"></i> 應徵者 </a></li>
                                                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-file-text-o"></i> 面試中 </a></li>
                                                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-check-square"></i> 已錄取 </a></li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="frnd">
                                                    <div class="row">
                                                        <div class="col-sm-6 margin-b-20">
                                                            <div class="user-card clearfix">
                                                                <img src="assets/images/avtar-1.jpg" alt="" width="90">
                                                                <div class="user-card-content">
                                                                    <h4>Lara Smith</h4>
                                                                    <span><em>Front end developer</em></span>
                                                                    <div>
                                                                        <a href="#" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> 查看履歷</a>
                                                                        <a href="#" class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> 面試邀請</a>
                                                                        <a class="btn btn-xs btn-danger"><i class="fa fa-minus-square"></i> 刪除</a>
                                                                    </div>
                                                                </div>
                                                            </div><!--user card-->
                                                        </div>
                                                        <div class="col-sm-6 margin-b-20">
                                                            <div class="user-card clearfix">
                                                                <img src="assets/images/avtar-2.jpg" alt="" width="90">
                                                                <div class="user-card-content">
                                                                    <h4>John Smith</h4>
                                                                    <span><em>Front end developer</em></span>
                                                                    <div>
                                                                        <a href="#" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> 查看履歷</a>
                                                                        <a href="#" class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> 面試邀請</a>
                                                                        <a class="btn btn-xs btn-danger"><i class="fa fa-minus-square"></i> 刪除</a>
                                                                    </div>
                                                                </div>
                                                            </div><!--user card-->
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="user-card clearfix margin-b-20">
                                                                <img src="assets/images/avtar-3.jpg" alt="" width="90">
                                                                <div class="user-card-content">
                                                                    <h4>Lara Smith</h4>
                                                                    <span><em>Front end developer</em></span>
                                                                    <div>
                                                                        <a href="#" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> 查看履歷</a>
                                                                        <a href="#" class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> 面試邀請</a>
                                                                        <a class="btn btn-xs btn-danger"><i class="fa fa-minus-square"></i> 刪除</a>
                                                                    </div>
                                                                </div>
                                                            </div><!--user card-->
                                                        </div>
                                                        <div class="col-sm-6 margin-b-20">
                                                            <div class="user-card clearfix">
                                                                <img src="assets/images/avtar-4.jpg" alt="" width="90">
                                                                <div class="user-card-content">
                                                                    <h4>Steven Smith</h4>
                                                                    <span><em>Front end developer</em></span>
                                                                    <div>
                                                                        <a href="#" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> 查看履歷</a>
                                                                        <a href="#" class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> 面試邀請</a>
                                                                        <a class="btn btn-xs btn-danger"><i class="fa fa-minus-square"></i> 刪除</a>
                                                                    </div>
                                                                </div>
                                                            </div><!--user card-->
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="user-card clearfix">
                                                                <img src="assets/images/avtar-5.jpg" alt="" width="90">
                                                                <div class="user-card-content">
                                                                    <h4>Dwayne Smith</h4>
                                                                    <span><em>Front end developer</em></span>
                                                                    <div>
                                                                        <a href="#" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> 查看履歷</a>
                                                                        <a href="#" class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> 面試邀請</a>
                                                                        <a class="btn btn-xs btn-danger"><i class="fa fa-minus-square"></i> 刪除</a>
                                                                    </div>
                                                                </div>
                                                            </div><!--user card-->
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="user-card clearfix">
                                                                <img src="assets/images/avtar-7.jpg" alt="" width="90">
                                                                <div class="user-card-content">
                                                                    <h4>Lara Smith</h4>
                                                                    <span><em>Front end developer</em></span>
                                                                    <div>
                                                                        <a href="#" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> 查看履歷</a>
                                                                        <a href="#" class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> 面試邀請</a>
                                                                        <a class="btn btn-xs btn-danger"><i class="fa fa-minus-square"></i> 刪除</a>
                                                                    </div>
                                                                </div>
                                                            </div><!--user card-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="gallery">
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w1.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w1.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w2.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w2.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w3.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w3.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w4.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w4.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w5.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w5.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w6.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w6.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w7.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w7.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w8.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w8.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w1.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w1.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w2.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w2.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w3.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w3.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w4.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w4.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w5.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w5.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w6.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w6.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w7.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w7.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-md-3 col-sm-6">
                                                            <a class="gallery-box" href="assets/images/w8.jpg" data-lightbox="gallery">
                                                                <img src="assets/images/w8.jpg" alt="" class="img-responsive">
                                                                <div class="gallery-overlay">
                                                                    <i class="ion-ios-eye-outline"></i>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane" id="settings">
                                                    <form class="form-horizontal">
                                                        <div class="form-group">
                                                            <label for="name" class="col-sm-3 control-label">Full Name</label>
                                                            <div class="col-sm-7">
                                                                <input type="email" class="form-control" id="name" placeholder="Emily Doe">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="pname" class="col-sm-3 control-label">Username</label>
                                                            <div class="col-sm-7">
                                                                <input type="text" class="form-control" id="pname" placeholder="Emi.Me">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="position" class="col-sm-3 control-label">Position</label>
                                                            <div class="col-sm-7">
                                                                <input type="text" class="form-control" id="position" placeholder="Front end developer">
                                                            </div>
                                                        </div>
                                                         <div class="form-group">
                                                            <label for="about" class="col-sm-3 control-label">About</label>
                                                            <div class="col-sm-7">
                                                                <textarea style="height: 100px" class="form-control" id="about" placeholder="Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper."></textarea>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <h4>Info</h4>
                                                          <div class="form-group">
                                                            <label for="address" class="col-sm-3 control-label">Address</label>
                                                            <div class="col-sm-7">
                                                                <input type="text" class="form-control" id="address" placeholder="124,Lorem Street, Florida, USA">
                                                            </div>
                                                        </div>
                                                           <div class="form-group">
                                                            <label for="city" class="col-sm-3 control-label">City</label>
                                                            <div class="col-sm-7">
                                                                <input type="text" class="form-control" id="city" placeholder="Florida">
                                                            </div>
                                                        </div>
                                                         <div class="form-group">
                                                             <label for="fb" class="col-sm-3 control-label"><i class="ion-social-facebook"></i> Facebook</label>
                                                            <div class="col-sm-7">
                                                                <input type="text" class="form-control" id="fb" placeholder="emily.Me">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                             <label for="twt" class="col-sm-3 control-label"><i class="ion-social-twitter"></i> Twitter</label>
                                                            <div class="col-sm-7">
                                                                <input type="text" class="form-control" id="twt" placeholder="emily.123">
                                                            </div>
                                                        </div>
                                                         <div class="form-group">
                                                            <label for="skills" class="col-sm-3 control-label">Skills</label>
                                                            <div class="col-sm-7">
                                                                <input type="text" class="form-control" id="skills" placeholder="HTML5, CSS3, Jquery, Bootstrp, Photoshop">
                                                            </div>
                                                        </div>
                                                        <hr>
                                                          <div class="form-group">
                                                             
                                                            <label for="skills" class="col-sm-3 control-label">Avatar</label>
                                                            <div class="col-sm-7">
                                                                 <img src="assets/images/avtar-1.jpg" alt="" width="80">
                                                                 <div class="space-20"></div>
                                                                <input type="file" class="form-control" id="avtar">
                                                                <p class="help-block">JPEG/PNG 80x80px</p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-offset-3 col-sm-9">
                                                                <button type="submit" class="btn btn-lg btn-primary rounded">Save changes</button>
                                                                <button type="button" class="btn btn-lg btn-warning rounded">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel">

                                    <header class="panel-heading">
                                        <div class="panel-search">
                                            <div class="form-panel-search">
                                                <input type="text" class="form-control" placeholder="Search...">
                                                <i class="fa fa-search"></i>
                                            </div>
                                        </div>
                                        <h2 class="panel-title">Tasks <span class="color-danger helping-text">20 Pending</span></h2>
                                    </header>
                                    <div class="panel-body">
                                        <div class="scrollDiv">
                                            <ul class="task-list list-unstyled">
                                                <li class="clearfix">
                                                    <div class="task-label">
                                                        <label class="label label-primary">Company</label>
                                                    </div>
                                                    <div class="task-text">
                                                        <a href="#">
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <div class="task-label">
                                                        <label class="label label-danger">Marketing</label>
                                                    </div>
                                                    <div class="task-text">
                                                        <a href="#">
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <div class="task-label">
                                                        <label class="label label-success">BPO Project</label>
                                                    </div>
                                                    <div class="task-text">
                                                        <a href="#">
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <div class="task-label">
                                                        <label class="label label-primary">Company</label>
                                                    </div>
                                                    <div class="task-text">
                                                        <a href="#">
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <div class="task-label">
                                                        <label class="label label-danger">Marketing</label>
                                                    </div>
                                                    <div class="task-text">
                                                        <a href="#">
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="clearfix">
                                                    <div class="task-label">
                                                        <label class="label label-success">BPO Project</label>
                                                    </div>
                                                    <div class="task-text">
                                                        <a href="#">
                                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!--panel body-->
                                </div><!--panel-->
                            </div>
                        </div>                                                  
                    </div>
                </div>
            </div>

            <!--footer start-->
            <div class="footer">
                <div class="row">
                    <div class="col-sm-12">
                        <span>&copy; Copyright 2016. Assan</span>
                    </div>
                </div>
            </div>
            <!--footer end-->
        </section><!--end main content-->
    </div>
</div><!--end wrapper-->