/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap"; 



.header	{
	height: 50px;
	padding: 10px;
	background-color: #3ACBC6;
}

.heading {
 height: 470px;
 width: 100%;
 background-color: lightgray;
}

.heading .content {
	text-transform: uppercase;
	text-align: center;
	padding-top: 200px;
}

.tag .wrapper {
	width: 600px;
  margin: auto;
}

.tagging {
  padding-top: 5px;
  width: 100%;
  background-color: lightgray;
  margin: 50px auto;
  padding: 20px;
}

.tag li {
  padding: 11px;
  width: 96px;
  text-align: center;
  background-color: white;
  margin: 10px;
}

.company .content {
	padding: 5px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.company .wrapper {
	width: 100%;
}

footer {
	height: 50px;
	width: 100%;
	text-align: center;
	background-color: black;
	padding-top: 15px;
}

.logo {
	position: fixed;
	top: 0;
}

.header h3 {
	margin-top: 0;
	margin-left: 60px;
}

.our-team {
	margin-top: 50px;
	margin-bottom: 50px;
}

.our-work {
	margin-top: 50px;
}

.team-content {
	margin-top: 50px;
}

.team-intro {
	margin-top: 30px;
	margin-left: 30px;
}

.admin-font a {
	font-size: 2.5rem;
  margin-left: 50px;
}

